html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    position: relative;
    overflow: hidden;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.log {
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 20px;
}

.controls {
    position: fixed;
    bottom: 20px;
    left: 20px;
}